<h1>Heyoooooooooooooooooo!!!</h1>

<div>
    <%= form_tag movies_path, method: :get, class: "w-25 m-auto d-flex my-4" do %>
        <%= text_field_tag :query, params[:query], class: "form-control" %>
        <%= submit_tag "Submit", class: "btn btn-danger" %>
    <% end %>

</div>

<div class="container">
    <%# IF THE SEARCH FORM HAS BEEN FILED AND SUBMITED %>
    <% if @movies_and_shows %>
        <% @movies_and_shows.each do |movie| %>
            <% if movie.searchable.is_a?(Movie) %>
                <h2>Movie:</h2>
                <h2><%= movie.searchable.title %></h2>
                <p><%= movie.searchable.synopsis %></p>
                <p><%= movie.searchable.director.full_name %> </p>

            <% else %>
                <h2>Tv Shows:</h2>
                <h2><%= movie.searchable.title %></h2>
                <h2><%#= movie.title %></h2>
                <p><%= movie.searchable.synopsis %></p>
            <% end %>
        <% end %>
    <% else %>
        <%# IF THE SEARCH FORM HAS NOT BEEN FILED AND SUBMITED %>
        <% @movies.each do |movie| %>
            <h2>Movie:</h2>
            <h2><%= movie.title %></h2>
            <p><%= movie.synopsis %></p>
            <p><%= movie.director.full_name %> </p>
        <% end %>
    <% end %>
</div>